/* styles.css */

body {
    margin: 0;
    padding: 0;
    background-color: #292929; /* Asegúrate de mantener el color de fondo */
}

.left {
    width: 50%; /* Cambiado para ocupar la mitad del contenedor */
    height: 100%;
    float: left;
    background-color: black;
    color: white;
    position: relative;
}

.right {
    width: 50%; /* Cambiado para ocupar la mitad del contenedor */
    height: 100%;
    float: right;
    background-color: black;
    position: relative;
}

.dicom-wrapper {
    width: 95%;
    height: 680px;
    background-color: black;
    position: relative;
    margin: auto;
}

.wrapper {
    background-color: black;
    width: 100%;
    height: 800px;
    position: relative;
}

.dicom-viewer {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex; /* Añadido para usar flexbox */
    justify-content: space-around; /* Añadido para espaciar las imágenes */
}

.Toolbar {
    width: 100%;
    height: 60px;
    background-color: black;
    position: relative;
    text-align: center; /* Añadido para centrar el contenido */
}

.toolButton {
    width: 40px;
    height: 40px;
    background-color: gray;
    margin-top: 10px;
    position: relative;
}

.sliceButton {
    width: 80px;
    height: 40px;
    background-color: gray;
    margin-top: 10px;
    color: white;
    position: relative;
}

.bottomleft {
    float: left;
    bottom: 0;
    left: 0;
    position: absolute;
    color: rgb(255, 255, 204);
}

.bottomright {
    float: right;
    bottom: 0;
    right: 0;
    position: absolute;
    color: rgb(255, 255, 204);
}

.stack {
    width: 110px;
    height: 120px;
    color: white;
    margin: 10px;
    border-style: solid;
    position: relative;
}

.stack-wrapper {
    height: 800px;
    width: 150px;
    overflow: scroll;
    position: absolute; /* Añadido para ajustar la posición */
}

.center {
    text-align: center;
    bottom: 0;
    color: rgb(255, 255, 204);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #dfdfdf;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 36px;
    text-decoration: none;
    display: block;
    font-size: 20px;
    margin: 2px 0 0 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilos específicos para DicomHeader */
.dicom-info-container {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: white;
}

.search-input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #444;
    color: white;
}

.dicom-info-item {
    background: #555;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #777;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.dicom-info-item h3 {
    margin: 0 0 5px;
    font-size: 1.2em;
    color: #f1f1f1;
}

.dicom-info-item p {
    margin: 0;
    font-size: 1em;
    color: #ccc;
}

/* src/styles/styles.css */

.custom-h2 {
    text-align: center;
    margin-top: 20px;
  }
  
  .dicom-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .dicom-viewer {
    margin: 10px;
  }
  
  .cornerstone-canvas {
    width: 512px;
    height: 512px;
    border: 1px solid #000;
  }

  /* El fondo de la superposición del modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegúrate de que el modal esté por encima de otros elementos */
  }
  
  /* Contenido del modal */
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 1000px;
    max-width: 100%;
    max-height: 80vh; /* Establece la altura máxima para el contenido del modal */
    overflow-y: auto; /* Habilita la barra de desplazamiento vertical */
    text-align: center;
    z-index: 1000;
  }
  
  /* Botón para cerrar el modal */
  .close-modal {
    color: white;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
  }
  
  /* Estilo del botón que abre el modal */
  .open-modal-btn {
    background-color: #0e74c8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .open-modal-btn:hover {
    background-color: #1e88e5;
  }
  

  /* nav.css */

.navbar {
    background-color: #1e1e1e;
    padding: 10px 20px; /* Aumenta el padding para un mejor aspecto */
    display: flex;
    justify-content: space-between; /* Espacio entre el título y la lista */
    align-items: center; /* Centra verticalmente */
  }
  
  .navbar-title {
    color: #ffffff;
    margin: 0; /* Elimina el margen del título */
    font-size: 24px; /* Tamaño del título */
  }
  
  .navbar-list {
    list-style: none; /* Elimina los puntos de la lista */
    display: flex; /* Muestra los elementos de la lista en una fila */
    gap: 15px; /* Espacio entre los enlaces */
    margin: 0; /* Elimina el margen */
    padding: 0; /* Elimina el padding */
  }
  
  .navbar-link {
    color: #ffffff; /* Color del texto */
    text-decoration: none; /* Elimina el subrayado */
    padding: 8px 12px; /* Espaciado alrededor del texto */
    transition: background-color 0.3s, color 0.3s; /* Transición suave para el hover */
    border-radius: 5px; /* Bordes redondeados */
  }
  
  .navbar-link:hover {
    background-color: #555; /* Cambia el fondo al pasar el ratón */
    color: #ffffff; /* Cambia el color del texto al pasar el ratón */
  }
  
  /* About.css */

/* Contenedor de la caja */
.about-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra suave */
    max-width: 400px; /* Ancho máximo de la caja */
    margin: 100px auto; /* Centrar horizontalmente y margen superior */
    text-align: center; /* Centrar texto */
}

/* Estilo de los títulos */
.about-container h1 {
    color: #000000; /* Color del título */
    font-size: 24px;
    margin-bottom: 10px;
}

.about-container h2 {
    color: #000000; /* Color del subtítulo */
    font-size: 20px;
}
